@page
@using Flockbuster.Domain.Models;
@model Flockbuster.Pages.MoviesModel
@{
    ViewData["Title"] = "Movies";
}

<div id="movies" class="my-4">
    @foreach (Movies mov in Model.ListOfMovies)
    {
        <img src="@mov.Img" class="ms-2" data-bs-toggle="modal" data-bs-target="#movBorrowModal-@mov.Id" />
    }
</div>


@foreach (Movies mov in Model.ListOfMovies)
{
    <div class="modal fade" id="movBorrowModal-@mov.Id" tabindex="-1" aria-labelledby="movBorrowModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-transparent border-0">
                <div class="d-flex justify-content-center">
                    <img src="@mov.Img" style="height:420px;width:280px;" />
                </div>
                <div class="text-center text-white mt-4">
                    <h6>
                        @mov.Title
                    </h6>
                    <p>
                        Required age: @mov.RequiredAge<br />
                        Release date: @mov.RelaseDate.ToShortDateString()
                    </p>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-danger mt-4 me-2" data-bs-dismiss="modal">Cancel</button>
                    @if (HttpContext.Session.GetInt32("ID") > 1)
                    {
                        <form method="post">
                            <button class="btn btn-warning mt-4 ms-2" type="submit" data-bs-dismiss="modal" asp-page-handler="Borrow" asp-route-movieId="@mov.Id">Borrow for @mov.Price DKK</button>
                        </form>
                    }
                    else
                    {
                        <button class="btn btn-warning mt-4 ms-2" data-bs-dismiss="modal" disabled>Disabled</button>
                    }
                </div>
            </div>
        </div>
    </div>
}