@page
@using Flockbuster.Domain.Models;
@model Flockbuster.Pages.User.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}
<div class="container d-flex justify-content-between">
	<div class="card h-25 col-sm-3 shadow p-2 mb-5 bg-body-tertiary rounded-circle">
		<img class="rounded-circle" src="@Model.UserDetails.Img" />
	</div>
	<div class="card h-100 w-50 shadow p-3 mb-5 bg-body-tertiary rounded">
		<div class="card-body">
			<div class="row gutters">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<h5 class="mb-4">User Details</h5>

				</div>
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
					<h6 class="mt-3">User number:</h6>
					@(Model.UserDetails.Id - 1)
				</div>
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
					<h6 class="mt-3">Name:</h6>
					@Model.UserDetails.Name
				</div>
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
					<h6 class="mt-3">E-mail:</h6>
					@Model.UserDetails.Email
				</div>
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
					<h6 class="mt-3">Balance:</h6>
					@Model.UserDetails.Balance DKK 
					<button class="btn btn-outline-success ms-2" data-bs-toggle="modal" data-bs-target="#userBalance"><i class="fa-solid fa-wallet"></i></button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="card h-75 w-100 shadow p-3 mb-5 bg-body-tertiary rounded">
		<div class="card-body">
			@if (Model.ListOfMovies.Count != 0)
			{
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Title</th>
							<th scope="col">Age rating</th>
							<th scope="col">Time to watch</th>
							<th scope="col">Release date</th>
							<th scope="col">Price</th>
							<th scope="col">Return date</th>
							<th scope="col">Genre</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						@foreach (Movies movie in Model.ListOfMovies)
						{
							<tr>
								<td scope="row">@movie.Title</td>
								<td>@movie.RequiredAge</td>
								<td>@(movie.TTW / 3600)h @((movie.TTW / 60) - (movie.TTW / 3600 * 60))m</td>
								<td>@movie.RelaseDate.ToShortDateString()</td>
								<td>@movie.Price DKK</td>
								<td>@movie.ReturnDate.ToShortDateString()</td>
								<td class="dropdown">
									<a class="dropdown-toggle text-dark" role="button" data-bs-toggle="dropdown" aria-expanded="false">
										Genres
									</a>
									<ul class="dropdown-menu" data-bs-auto-close="false">
										@foreach (Genre genre in movie.Genres)
										{
											<li><a class="dropdown-item">@genre.GenreName</a></li>
										}
									</ul>
								</td>
								<td class="d-flex justify-content-end">
									<form method="post">
										<button class="btn btn-outline-danger me-2" type="submit" asp-page-handler="Return" asp-route-movieId="@movie.Id"><i class="fa-solid fa-arrow-right"></i></button>
									</form>
								</td>
							</tr>
						}
					</tbody>
				</table>
			}
			else
			{
				<div class="d-flex justify-content-center">
					<h4>No movies borrowed, check your <a href="~/User/MovieHistory">Movie History</a> for previous borrowed movies</h4>
				</div>
			}
		</div>
	</div>
</div>

<div class="modal fade" id="userBalance" tabindex="-1" aria-labelledby="userBalance" aria-hidden="true">
	<div class="modal-dialog">
		<form method="post">
			<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5 text-success" id="userBalance">Balance</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<label for="Balance">Balance to withdraw or insert</label>
				<input type="number" id="Balance" class="form-control" asp-for="Balance">
			</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-success w-25" data-bs-dismiss="modal" asp-page-handler="WithdrawBalance">Withdraw Balance</button>
					<button type="submit" class="btn btn-success w-25" data-bs-dismiss="modal" asp-page-handler="AddBalance">Insert Balance</button>
				</div>
			</div>
		</form>
	</div>
</div>